body {
    background-color: lightblue;
    margin: 30px;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    box-sizing: border-box;

}

.buttoncss{

    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
}

    .button-9:disabled {
        cursor: default;
    }

    .button-9:focus {
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
    }

.ingredientsmissing{
    margin: 40px;
    font-weight: bold;
    font-size: 20px;
}
.orders {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.order-card {
    background: white;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    text-align: left;
}

.done-btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.done-btn:hover {
    background-color: dodgerblue;
}

.finished-section {
    margin-top: 50px;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: black;
    letter-spacing: 2px;
    margin: 40px 0;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.3s ease;
}

h2:hover {
    color: #e74c3c;
    transform: scale(1.05);
}


.finished-box {
    width: 80%;

    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}